.table {
    margin-top: 50px;
    width: 100%;
    border: 1px solid;
}

.table-header {
    display: flex;
    width: 100%;
    background: #dbd6d6;

}

.table-row {
    display: flex;
    width: 100%;

}

.table-data,
.header__item {
    flex: 1 1 20%;
    text-align: center;
}

.header {
    background-color: aliceblue;
}

.header__item {
    text-transform: uppercase;
}

.table-remove-icon {
    height: 50%;
    width: auto;
    margin: 0;
    padding: 0;
}

.selected {
    background: rgb(223, 223, 227);
}